# Collections (LSTD) - Some more Codes

In [1]:
fruits = ['apple', 'orange', 'banana', 'papaya']

In [2]:
fruits[0]

'apple'

In [3]:
fruits[1:3]

['orange', 'banana']

In [4]:
fruits[:]

['apple', 'orange', 'banana', 'papaya']

In [5]:
fruits[-1]

'papaya'

In [6]:
fruits[-3]

'orange'

In [7]:
len(fruits)

4

In [8]:
seasonal_fruits = ['mango', 'cherry', 'watermelon']

In [9]:
all_fruits = fruits + seasonal_fruits

In [10]:
all_fruits

['apple', 'orange', 'banana', 'papaya', 'mango', 'cherry', 'watermelon']

In [11]:
'banana'in all_fruits

True

In [12]:
'grapes' in all_fruits

False

In [13]:
all_fruits.index('banana')

2

In [14]:
all_fruits.index('grapes')

ValueError: 'grapes' is not in list

In [15]:
all_fruits.append('grapes')

In [16]:
all_fruits

['apple',
 'orange',
 'banana',
 'papaya',
 'mango',
 'cherry',
 'watermelon',
 'grapes']

In [1]:
a = [1,1,2,4,5,6,7]

In [18]:
a

[1, 1, 2, 4, 5, 6, 7]

In [19]:
min(a)

1

In [20]:
max(a)

7

In [21]:
a.count(1)

2

In [22]:
a.insert(3,3)

In [23]:
a

[1, 1, 2, 3, 4, 5, 6, 7]

In [4]:
a.insert (8,4)# First number is Index.

In [5]:
a

[1, 1, 2, 4, 5, 6, 7, 4, 4]

In [29]:
a.reverse()

In [30]:
a

[4, 4, 7, 6, 5, 4, 3, 4, 2, 1, 1]

In [31]:
a.sort()

In [32]:
a

[1, 1, 2, 3, 4, 4, 4, 4, 5, 6, 7]

In [33]:
all_fruits

['apple',
 'orange',
 'banana',
 'papaya',
 'mango',
 'cherry',
 'watermelon',
 'grapes']

In [34]:
all_fruits.sort()

In [35]:
all_fruits

['apple',
 'banana',
 'cherry',
 'grapes',
 'mango',
 'orange',
 'papaya',
 'watermelon']

In [36]:
all_fruits.reverse()

In [37]:
all_fruits

['watermelon',
 'papaya',
 'orange',
 'mango',
 'grapes',
 'cherry',
 'banana',
 'apple']

## Tuple  - Same as list but Immutabe (Not Changeable)

In [38]:
tup1 =(1,3,'orange')

In [39]:
tup1

(1, 3, 'orange')

In [40]:
tup1[1]='a'

TypeError: 'tuple' object does not support item assignment

In [41]:
tupa = tuple(a)

In [42]:
tupa

(1, 1, 2, 3, 4, 4, 4, 4, 5, 6, 7)

In [43]:
# Set - Ordered list of non-repeating elements

In [69]:
b = set([6,1,1,2,4,5])

In [70]:
b

{1, 2, 4, 5, 6}

In [46]:
b.add(3)

In [47]:
b

{1, 2, 3, 4, 5, 6}

In [48]:
c = set ([2,4,6,7])

In [49]:
c

{2, 4, 6, 7}

In [50]:
c.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [51]:
b.intersection(c)

{2, 4, 6}

In [52]:
c.difference(b)

{7}

In [54]:
b.difference(c)# whetever is not presnt in 'C' is shown

{1, 3, 5}

In [73]:
b.remove(1)

In [74]:
b

{2, 4, 5, 6}

In [57]:
b.clear()

In [58]:
b

set()

In [75]:
 q = set ([1,3,5,7,9])

In [76]:
q

{1, 3, 5, 7, 9}

In [77]:
q.remove(1)

In [78]:
q

{3, 5, 7, 9}

In [79]:
q.remove(3)

In [80]:
q

{5, 7, 9}

In [81]:
q.clear()

In [82]:
q

set()

In [83]:
a

[1, 1, 2, 3, 4, 4, 4, 4, 5, 6, 7]

In [84]:
# Iteration
for i in a:
    print (i*2)

2
2
4
6
8
8
8
8
10
12
14

In [85]:
b

{2, 4, 5, 6}

In [86]:
for i in b :
    print(i)

2
4
5
6

In [87]:
# Dictionary

In [89]:
d1 = dict ({'one':1, 'Two':2})

In [90]:
d1

{'one': 1, 'Two': 2}

In [91]:
# Join two lists and create a dictionary
names = ['one', 'Two', 'Three', 'Four', 'Five']
Numbers = [1,2,3,4,5]

In [94]:
d2 =dict(zip(names,Numbers))

In [95]:
print(d2)

{'one': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [96]:
d2.keys()

dict_keys(['one', 'Two', 'Three', 'Four', 'Five'])

In [97]:
d2.values()

dict_values([1, 2, 3, 4, 5])

In [98]:
d2['six'] = 6

In [99]:
d2

{'one': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'six': 6}

In [100]:
d2.pop('six') # Remove an element

6

In [101]:
d2

{'one': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}